* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgb(191, 250, 191);
    position: fixed;
    display: block;
}

h1{
    font-size: large;
}

#slogan{
    background-color: rgb(191, 250, 191);
    position: fixed;
    display: block;
    margin-top: 0px;
}

nav{
    background-color: rgb(140, 214, 140);
    position: fixed;
    display: block;
    margin-top: 70px;
}

main{
    margin-top: 100px;
}

footer{
    background-color: rgb(191, 250, 191);
    font-display: center;
    display: block;
}