.navcard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    height: 15vh;
    width: 15vh;
}

.navcard-container > img {
    width: 70px;
    margin: 0 auto;
    border-radius: 50%;
}

.navcard-container p {
    font-size: small;
}

.navcard-container > div {
    display: flex;
}